@import "vars";
@import "normalize";
@import "fonts";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    min-width: 320px;
    line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-left {
    justify-content: flex-start;
}

.flex-center {
    justify-content: center;
}

.flex-right {
    justify-content: flex-end;
}

.flex-around {
    justify-content: space-around;
}

.flex-between {
    justify-content: space-between;
}

.flex-top {
    align-items: flex-start;
}

.flex-middle {
    align-items: center;
}

.flex-baseline {
    align-items: baseline;
}

.flex-bottom {
    align-items: flex-end
}

.flex-wrap {
    flex-wrap: wrap;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.section-title {
    margin-top: 120px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1ab798;
}

.decoration {
    width: 60px;
    height: 1px;
    border-bottom: 1px solid #BABDC1;
    &:first-child {
        margin-right: 14px;
    }
    &:last-child {
        margin-left: 14px;
    }
}

header {
    width: 100%;
    background: url(../img/header-bg.png) no-repeat;
    background-size: cover;
}

nav {
    flex-wrap: wrap;
    margin-top: 30px;
    padding-left: 38px;
    padding-right: 38px;
    background-color: #fff;
    a {
        margin-right: auto;
    }
    .logo {
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        font-weight: 600;
        color: #1ab798;
    }
    ul {
        padding: 0;
        li {
            margin-right: 40px;
            list-style: none;
            text-transform: uppercase;
            &:last-child {
                margin-right: 0px;
            }
            a {
                font-family: 'Open Sans', sans-serif;
                font-size: 13px;
                font-weight: 700;
                color: #969596;
                &:hover {
                    cursor: pointer;
                    color: #333;
                }
            }
        }
    }
}

.banner {
    padding-left: 40px;
    padding-right: 120px;
}

.banner-text {
    padding-top: 170px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    line-height: 2.2em;
    h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 42px;
        font-weight: 700;
    }
    h3 {
        font-weight: 600;
    }
    ul {
        list-style-image: url(../img/arrow-right.png);
        padding: 15px;
        li {
            padding-left: 15px;
        }
    }
    .btn-download {
        width: 212px;
        margin-left: 15px;
        border-radius: 5px;
        background: url(../img/download.png) #17d0ac no-repeat 25px 50%;
        padding: 15px 40px 15px 80px;
        font-size: 22px;
        font-weight: 600;
        color: #fff;
    }
}

.banner-img {
    position: relative;
    top: 115px;
}

.s-features {
    padding-bottom: 100px;
    >p {
        width: 70%;
        margin-top: 70px;
        margin-bottom: 90px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        color: #282528;
    }
    .features-container {
        width: 90%;
        flex-wrap: wrap;
    }
    .features {
        margin-top: 65px;
    }
    .features-img {
        width: 311px;
    }
    .feature {
        width: 325px;
        img {
            margin-right: 50px;
        }
    }
}

.s-video {
    background-color: #31D4E7;
    padding-top: 70px;
    padding-bottom: 70px;
    h2 {
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        color: #222;
    }
    p {
        font-family: 'Open Sans', sans-serif;
        color: #fff;
    }
    .os {
        a {
            width: 70px;
            height: 70px;
            margin-right: 20px;
            font-size: 32px;
            color: #fff;
            background: #0098cd;
            transition: background .5s ease;
            border-radius: 50%;
            &:hover {
                background: #222;
            }
        }
    }
    .video-text {
        width: 545px;
    }
    iframe {
        border-radius: 7px;
    }
}

.s-team {
    .team-description {
        width: 80%;
        margin-top: 75px;
        margin-bottom: 119px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        color: #282528;
    }
    .employees {
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        .employee-name {
            margin-top: 20px;
            font-size: 18px;
            font-weight: 600;
        }
        .employee-position {
            margin-top: 0px;
            font-size: 13px;
            color: #979ca1;
        }
    }
    .employee {
        position: relative;
        img {
            width: 270px;
            height: 300px;
        }
        .hover-block {
            width: 270px;
            height: 300px;
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity 1s ease;
            padding-top: 25px;
            padding-right: 25px;
            padding-left: 25px;
            background: rgba(50, 191, 163, .85);
            text-align: center;
            color: #fff;
            opacity: 0;
            z-index: 10;
            h4 {
                margin-top: 0px;
                font-size: 16px;
                font-weight: bold;
                line-height: 24px;
            }
            p {
                margin-top: 15px;
                font-size: 16px;
                line-height: 22px;
            }
        }
        &:hover {
            .hover-block {
                opacity: 1;
            }
            .employee-name {
                color: #1ab798;
            }
        }
        .socials {
            width: 135px;
            margin-top: 35px;
        }
        .social {
            height: 45px;
            width: 45px;
            margin-right: 5px;
            background: rgba(25, 124, 105, .7);
            i {
                font-size: 22px;
                color: #fff;
            }
        }
    }
}

.s-review {
    .customer {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        .customer-photo {
            width: 100px;
            height: 100px;
            margin-top: 35px;
            margin-bottom: 30px;
            background: url("../img/customer.jpg") no-repeat 50%;
            border: 1px solid #c8cbcb;
            border-radius: 50%;
        }
        h3 {
            font-size: 16px;
        }
        p {
            margin-top: -6px;
            font-size: 13px;
            font-weight: 400;
            color: #646464;
        }
        .quote {
            background: url(../img/quotes.png) no-repeat 12% 48%;
            P {
                margin-top: 120px;
                padding-left: 15%;
                padding-right: 15%;
                font-size: 18px;
                text-align: center;
            }
        }
        .carousel {
            margin-top: 57px;
            margin-bottom: 126px;
            .carousel-button {
                width: 10px;
                height: 10px;
                margin-right: 8px;
                cursor: pointer;
                background-color: #d4d3d4;
                border: 1px solid #fff;
                border-radius: 10px;
                &:hover {
                    width: 12px;
                    height: 12px;
                    background-color: #1ab798;
                }
            }
        }
    }
}

footer {
    background: url("../img/footer-bg.png") no-repeat;
    background-size: cover;
    .section-title {
        margin-top: 70px;
        margin-bottom: 100px;
        h2 {
            color: #fff;
        }
    }
    .footer-info {
        font-family: 'Open Sans', sans-serif;
        h5 {
            font-size: 24px;
            font-weight: 400;
            color: #fff;
        }
        p {
            font-size: 14px;
            line-height: 21px;
            color: #a8a8a8;
        }
        .footer-socials {
            .social {
                width: 42px;
                height: 42px;
                margin-right: 15px;
                border-radius: 50%;
                font-size: 20px;
                color: #fff;
                
                &-facebook {
                    background: #3B5997;
                }
                &-twitter {
                    background: #3EC2F3;
                }
                &-google-plus {
                    background: #E44C42;
                }
                &:hover {
                    background: #fff;
                    color: #222;    
                }
            }
            i {
                transition: background .5s ease;
            }
        }
        .contacts {
            margin-top: 30px;
            p {
                margin: 0;
                color: #bface2;
            }
            .email {
                font-size: 14px;
            }
        }
    }
    form {
        width: 570px;
        input {
            width: 270px;
            height: 42px;
        }
        input,
        textarea {
            border-radius: 5px;
            background-color: #fff;
            border: none;
            padding-left: 15px;
        }
        textarea {
            height: 180px;
            width: 575px;
            margin-top: 30px;
            margin-bottom: 30px;
            padding-top: 10px;
        }
        button {
            width: 160px;
            height: 52px;
            padding: 13px 40px;
            align-self: flex-end;
            background: #31d4e7;
            border: 0;
            border-radius: 5px;
            font-size: 22px;
            color: #fff;
        }
    }
    .copyrigth {
        width: 100%;
        height: 76px;
        margin-top: 55px;
        align-self: flex-start;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: #ababab;
        border-top: 1px solid #6B6B6B;
    }
}

@import "media";